.container{
  width: 50vw;
  margin : 60px auto;
  display: flex;
  justify-content: space-between;

  a{
    color: white;
    background-color: rgb(29,161,242);
    width: 20px 150px;
    padding: 10px 40px;
    text-decoration: none;
  }
}
